.main {
    padding: 57px 27px;
    color: white;
    background-image: url("../images/background-logo.png");
    background-repeat: no-repeat;
    background-position: right 75%;
}

.mainTitle {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.mainFacts {
    margin-top: 46px;
    max-width: 400px;
}

.mainFacts > li {
    line-height: 19px;
    padding-block: 10px;
}

.mainFacts > li::marker {
    font-size: 1.5rem;
    color: #61dafb;
}
